{% extends 'index.html' %}

{% block content%}
<h1>Home Page</h1>
<style>
  .home-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
</style>
<div class="home-container">
  <div class="side-bar">
    <h3>Browse Topics</h3>
    {% for topic in topics %}
    <div>
      <a href="{% url 'home'%}?qs={{topic.name}}">{{topic.name}}</a>
    </div>
    {% endfor %}
  </div>
  <div>
    <a href="{% url 'create-room' %}">Create Room</a>
    <div>
      {% for room in rooms %}
      <div>
        <a href="{% url 'update-room' room.id %}">Edit</a>
        <a href="{% url 'delete-room' room.id %}">Delete</a>
        <span>@{{room.host.username}}</span>
        <a href="{% url 'room' room.id %}"><h2>{{room.name}}</h2></a>
        <small>{{room.topic.name}}</small>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
