{% extends 'index.html' %} 

{% block content %}
    <h3>{{room}}</h3>
    <p>{{room.description}}</p>

    <div class="message-container">
        {% for message in room_messages  %}
        <small>{{message.user}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Posted {{message.created_at|timesince}} ago</small>
        <br>
        <p>{{message.body}}</p>
        {% endfor %}
    </div>

{% if request.user.is_authenticated %}
   <div class="comment-form">
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text"  name="body" required placeholder="write your message here..."/>
        <button type="submit">Add Message</button>
    </form>
</div>
{% endif %}
{% endblock %}