<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'styles/style.css'%}" type="text/css" rel="stylesheet">
</head>
<body>
    {% if messages %}
<p class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</p>
{% endif %}
    {% include 'navbar.html' %}
    {% block content %}

    {% endblock %}
</body>
</html>